.wp__titleFilmDropdown{
    padding: 0px 10px;
    border-right: 1px solid #f2f2f2;
    width: 30%;
        .dropdown-toggle--fixed{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        span{
            font-weight: 600;
            font-size: 14px;
            color: rgba(0, 0, 0, 0.87);
        }
        i{
            color: #cacaca;
        }

    }
        .animate {
        animation-duration: 0.3s;
        animation-duration: 0.3s;
        animation-fill-mode: both;
        -webkit-animation-fill-mode: both;
      }
        .slideIn {
        animation-name: slideIn;
      }
        .dropdown-toggle--fixed.focus, .dropdown-toggle--fixed:focus {
        box-shadow:none !important;
    }
    .dropdown-toggle::after {
        display: none;
    }
    .title__movieDropdown{
        display: block !important; 
        overflow: hidden; 
        white-space: nowrap; 
        text-overflow: ellipsis;
        width: 800px;
        text-align: left;
        margin-right: 40px;
    }

    .dr-menu--listfilm{
    color: rgb(7, 6, 6);
    font-weight: 500 !important;
    font-size: 15px;
    line-height: 32px;
    width: 300px !important;
    overflow-x: hidden !important;
    max-height: 300px !important;
    overflow-y: scroll !important;
    li{
        transition: 0.2s all;
        font-size: 14px !important;
        color: rgba(0, 0, 0, 0.87);
        font-weight: 600 !important;
        line-height: 32px;
        &:hover{
            transition: 0.2s all;
            color: rgb(255, 255, 255);
            background-color: rgb(71, 202, 253) !important; 
        }
    }
    &::-webkit-scrollbar {
        width: 4px;
        background-color: #F5F5F5;
    } 
    &::-webkit-scrollbar-thumb {
        background-color: #b1aeae;
    }
    &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        background-color: #F5F5F5;
    }

}
}
    // @keyframes slideIn {
    //     0% {
    //       transform: translateY(16px);
    //       opacity: 0;
    //     }
    //     100% {
    //       transform:translateY(-3px);
    //       opacity: 1;
    //     }
    //   }
//  .dropdown--fixed{
//     padding: 0px 10px;
//     border-right: 1px solid #f2f2f2;
    // .animate {
    //     animation-duration: 0.3s;
    //     -webkit-animation-duration: 0.3s;
    //     animation-fill-mode: both;
    //     -webkit-animation-fill-mode: both;
    //   }
    // @keyframes slideIn {
    //     0% {
    //       transform: translateY(16px);
    //       opacity: 0;
    //     }
    //     100% {
    //       transform:translateY(-3px);
    //       opacity: 1;
    //     }
    //   }
    //   .slideIn {
    //     animation-name: slideIn;
    //   }
// }
